%p.spacious
  Notes:
  = @alphabet.notes
  
%p.spacious
  Year: 
  = @alphabet.year

%p.spacious
  Words: 
  = @alphabet.words
  
%p.spacious
  JSON: 
  = link_to("/alphabets/#{@alphabet.permalink}.json")
      