%p.big
  Acrophonics has a simple JSON API (referred to in some circles as a jiu sandoo olga nicolae ana petre ion).
  If you find a use for it, let me know about it! All you really need to know is that any non-alphanumeric characters
  in your query are converted to spaces, and excess whitespace is removed. Here are some sample queries:

%ul.samples
  %li= link_to("/alphabets/nato.json")
  %li= link_to("/alphabets/nato/spell/abc.json")
  %li= link_to("/alphabets/romanian/spell/json-api.json")
  %li= link_to("/alphabets/swiss_telephone_directory/spell/abcdefghijklmnopqrstuvwxyz.json")
  %li= link_to("/alphabets.json")

  